<section class="hero">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="hero-text">
      <p class="new">Nouveautés</p>

      <h1 class="title">
        Élégance &<br />
        <span class="highlight">modestie</span>
      </h1>

      <p class="subtitle">La modestie, réinventée.</p>

      <a routerLink="/boutique" class="btn-shop">Achetez maintenant</a>
    </div>

    <div class="hero-image">
      <img
        src="http://127.0.0.1:8000/storage/produits/img.png"
        alt="Femme voilée élégante"
      />
    </div>

  </div>
</section>
